<!DOCTYPE html>
<html>
    <% include head%>
<body>	
    <% include header%>
    
    <!-- MAIN -->
    <div class="container">

        <!-- ARTICLE INFO -->
        <div class="article_info">
            <div class="row justify-content-between">
                
                <div class="col-md-3 text-center" style="padding: 0 !important;">
                    <div class="article_img">
                        <img src="/images/article/<%= article[0].ar_pic%>">
                    </div>
                    <button class="btn btn-danger article_img_btn" onclick="window.location.href='/chapter/<%= article[0].ar_ID%>-<%= chapters[0].chap_ID%>'">ĐỌC TỪ ĐẦU</button>
                </div>
                
                <div class="col-md-8 article_des">
                    <div class="row">
                        <div class="col-md-12 article_des_title">Thông tin truyện</div>
                    </div>
                    <div class="full_des">
                        <p id="ar_name"><%= article[0].ar_name%></p>
                        
                        <p class="cate_list"><b>Thể loại: </b>
                            <%for(var j = 0; j < cate.length; j++) {%>
                                <a href="/article_list/<%= cate[j].cat_ID%>" class="cate"><span class="badge badge-pill badge-danger"><%= cate[j].cat_name%></span></a>
                            <%}%>
                        </p>
                        <p><b>Lượt xem:</b> <span id="view"><%= article[0].ar_view%></span> <i class="fas fa-eye"></i></p>
                        <p><b>Ngày cập nhật:</b> <span id="date">
                            <% let arr = article[0].ar_date.split('-')%>
                            <%= arr[2] + "-" + arr[1] + "-" + arr[0]%>
                        </span></p>
                        <p><b>Số chap:</b> <span id="chap_num"><%= article[0].ar_chap_num%></span></p>
                        <p><b>Tình trạng:</b> <span id="status">
                            <% if(article[0].ar_status === 1){%>
                                Hoàn thành
                            <%} else {%>
                                Chưa hoàn thành
                            <%}%>
                        </span></p>
                        <p><b>Nội dung:</b><br> <span class="content"><%= article[0].ar_des%></span></p>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- END OF ARTICLE INFO -->
        
        <!-- SUB -->
        <div class="row justify-content-between ">
            <div class="col-md-8">
                <!-- CHAPTER LIST -->
                <div class="row new">
                    <div class="col-sm-12 new_title">
                        <h5><i class="fas fa-book"></i> Danh sách chương</h5>
                    </div>
                    <%for(var j = 0; j < chapters.length; j++) {%>
                        <div class="col-sm-11 d-flex chapter justify-content-between">
                            <a href="/chapter/<%= article[0].ar_ID%>-<%= chapters[j].chap_ID%>"><%= chapters[j].chap_name%></a>
                            <span id="chapter_date">
                                <% let arr = chapters[j].chap_date.split('-')%>
                                <%= arr[2] + "-" + arr[1] + "-" + arr[0]%>
                            </span>
                        </div>
                    <%}%>
                </div>
                <!-- END OF CHAPTER LIST -->

                

                
                
            </div>
            
            <div class="col-md-3">
                
                <% include same_cat%>
                        
            </div>
        </div>
    </div>
    
    <% include footer%>

	<!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>