<!DOCTYPE html>
<html>
    <% include head%>
<body>	
    <% include header%>
    
    <!-- MAIN -->
    <div class="container">

        <!-- ARTICLE NAME -->
        <div class="row article_name">
            <div class="col-sm-12 bg-dark rounded">
                <h6><b>Tên truyện: </b><a href="/article/<%= sess.articles[index].ar_ID%>" id="article"><%= sess.articles[index].ar_name%></a></h6>
            </div>
        </div>
        <!-- END OF ARTICLE NAME  -->

        <!-- CHAPTER NAVIGATION -->
        <div class="row chapter_nav">
            <div class="col-sm-12 text-center">
                <%if(chap_ID === sess.chapters[index][sess.chapters[index].length - 1].chap_ID) {%>
                    <a class="nav_icon"><i class="fas fa-backward"></i></a>
                <%} else {%>
                    <a href="/chapter/<%= sess.articles[index].ar_ID%>-<%= chap_ID - 1%>" class="nav_icon"><i class="fas fa-backward"></i></a>
                <%}%>
                <select id="chapter_select" onchange="changeChapter(<%= sess.articles[index].ar_ID%>)">
                <%for(let i = 0; i < sess.chapters[index].length; i++) {%>
                    <%if(sess.chapters[index][i].chap_ID === chapter[0].chap_ID) {%>
                        <option value="<%= sess.chapters[index][i].chap_ID%>" selected><%= sess.chapters[index][i].chap_name%></option>
                    <%} else {%>
                        <option value="<%= sess.chapters[index][i].chap_ID%>"><%= sess.chapters[index][i].chap_name%></option>
                    <%}%>
                <%}%>
                </select>
                <%if(chapter[0].chap_ID === sess.chapters[index][0].chap_ID) {%>
                    <a class="nav_icon"><i class="fas fa-forward"></i></a>
                <%} else {%>
                    <a href="/chapter/<%= sess.articles[index].ar_ID%>-<%= chap_ID + 1%>" class="nav_icon"><i class="fas fa-forward"></i></a>
                <%}%>
            </div>
        </div>
        <!-- END OF CHAPTER NAVIGATION -->
        
        <!-- CHAPTER PAGES -->
        <div class="row content">
            <div class="col-sm-12">
                <ul>
                    <%for(let i = 0; i < chapter[0].chap_page; i++) {%>
                    <li>
                        <img src="/images/chapter/<%= sess.articles[index].ar_ID%>/<%= chapter[0].chap_ID%>/<%= i%>.jpg" class="chapter_cont">
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>
        <!-- END OF CHAPTER PAGES -->


        <!-- CHAPTER NAVIGATION -->
        <div class="row chapter_nav">
            <div class="col-sm-12 text-center">
                <%if(chap_ID === sess.chapters[index][sess.chapters[index].length - 1].chap_ID) {%>
                    <a class="nav_icon"><i class="fas fa-backward"></i></a>
                <%} else {%>
                    <a href="/chapter/<%= sess.articles[index].ar_ID%>-<%= chap_ID - 1%>" class="nav_icon"><i class="fas fa-backward"></i></a>
                <%}%>
                <select id="chapter_select" onchange="changeChapter(<%= sess.articles[index].ar_ID%>)">
                <%for(let i = 0; i < sess.chapters[index].length; i++) {%>
                    <%if(sess.chapters[index][i].chap_ID === chapter[0].chap_ID) {%>
                        <option value="<%= sess.chapters[index][i].chap_ID%>" selected><%= sess.chapters[index][i].chap_name%></option>
                    <%} else {%>
                        <option value="<%= sess.chapters[index][i].chap_ID%>"><%= sess.chapters[index][i].chap_name%></option>
                    <%}%>
                <%}%>
                </select>
                <%if(chapter[0].chap_ID === sess.chapters[index][0].chap_ID) {%>
                    <a class="nav_icon"><i class="fas fa-forward"></i></a>
                <%} else {%>
                    <a href="/chapter/<%= sess.articles[index].ar_ID%>-<%= chap_ID + 1%>" class="nav_icon"><i class="fas fa-forward"></i></a>
                <%}%>
            </div>
        </div>
        <!-- END OF CHAPTER NAVIGATION -->
    </div>

    <!-- FLOATING NAV  -->
    <div class="nav--floating bg-dark">
        <!-- CHAPTER NAVIGATION -->
        <div class="row chapter_nav">
            <div class="col-sm-12 text-center">
                <%if(chap_ID === sess.chapters[index][sess.chapters[index].length - 1].chap_ID) {%>
                    <a class="nav_icon"><i class="fas fa-backward"></i></a>
                <%} else {%>
                    <a href="/chapter/<%= sess.articles[index].ar_ID%>-<%= chap_ID - 1%>" class="nav_icon"><i class="fas fa-backward"></i></a>
                <%}%>
                <select id="chapter_select" onchange="changeChapter(<%= sess.articles[index].ar_ID%>)">
                <%for(let i = 0; i < sess.chapters[index].length; i++) {%>
                    <%if(sess.chapters[index][i].chap_ID === chapter[0].chap_ID) {%>
                        <option value="<%= sess.chapters[index][i].chap_ID%>" selected><%= sess.chapters[index][i].chap_name%></option>
                    <%} else {%>
                        <option value="<%= sess.chapters[index][i].chap_ID%>"><%= sess.chapters[index][i].chap_name%></option>
                    <%}%>
                <%}%>
                </select>
                <%if(chapter[0].chap_ID === sess.chapters[index][0].chap_ID) {%>
                    <a class="nav_icon"><i class="fas fa-forward"></i></a>
                <%} else {%>
                    <a href="/chapter/<%= sess.articles[index].ar_ID%>-<%= chap_ID + 1%>" class="nav_icon"><i class="fas fa-forward"></i></a>
                <%}%>
            </div>
        </div>
        <!-- END OF CHAPTER NAVIGATION -->
    </div>
    <!-- END OF FLOATING NAV  -->
    
    <% include footer%>

	<!-- JavaScript -->
    <% include js%>
    
    <script>
        $(function(){
            
		    var position = $(window).scrollTop(); 
            $(window).on('scroll', function(){
                var scroll = $(window).scrollTop();
                // console.log(scroll);
                if(scroll > position) {
                    $('.nav--floating').removeClass("appear");
                } else {
                    if ($('.chapter_nav').visible(true)) {
                        $('.nav--floating').removeClass("appear");
                    }else{
                        $('.nav--floating').addClass("appear");
                    }
                }
                position = scroll;
            })
        });
        function changeChapter(ar_ID){
            let temp = document.querySelector('#chapter_select').value;
            let http = `/chapter/${ar_ID}-${temp}`;
            window.location.href = http;
        }
    </script>
</body>
</html>