<!--HOT-->
<div class="container hot">
    <div class="row hot_title">
        <div class="col-md-12">
            <h5><i class="fas fa-fire"></i> HOT</h5>
        </div>
    </div>
    <div class="row">
        <%for(let i = 0; i < sess.hot_articles.length; i++) {%>
        <div class="col-lg-2 col-md-4 col-sm-4 col-4 text-center hot_item">
            <a href="/article/<%= sess.hot_articles[i].ar_ID%>">
                <div class="hot__img__container">
                    <img src="/images/article/<%= sess.hot_articles[i].ar_pic%>" title="<%=sess.hot_articles[i].ar_name%>">
                </div>
                <%if(sess.hot_articles[i].ar_name.length > 30){%>
                    <p title="<%=sess.hot_articles[i].ar_name%>"><%= sess.hot_articles[i].ar_name.substring(0, 30) + '...'%></p>
                <%} else{%>
                    <p title="<%=sess.hot_articles[i].ar_name%>"><%= sess.hot_articles[i].ar_name%></p>
                <%}%>
                <span class="badge badge-pill badge-danger" ><% if(sess.hot_chapter[i][0]){%> <%= sess.hot_chapter[i][0].chap_name%><%}%></span>
            </a>
        </div>
        <%}%>
        
        
    </div>
</div>
<!-- END OF HOT -->