<!-- TOP ARTICLE -->
<div class="row top">
    <div class="col-md-12 top_title">
        <h5><i class="fas fa-heart"></i> Top view trong tháng</h5>
    </div>
    <ul class="top_list">
        <!--HOT ITEM-->
        <%for(let i = 0; i < sess.top_articles.length; i++) {%>
        <li class="top_item bg-dark">
            <a href="/article/<%= sess.top_articles[i].ar_ID%>" title="<%= sess.top_articles[i].ar_name%>">
                <img src="/images/article/<%= sess.top_articles[i].ar_pic%>">
            </a>
            <div class="top_info">
                <%if(sess.hot_articles[i].ar_name.length > 50){%>
                    <a href="/article/<%= sess.top_articles[i].ar_ID%>" class="main_title" title="<%= sess.top_articles[i].ar_name%>"><%= sess.top_articles[i].ar_name.substring(0, 50) + '...'%> </a>
                <%} else{%>
                    <a href="/article/<%= sess.top_articles[i].ar_ID%>" class="main_title" title="<%= sess.top_articles[i].ar_name%>"><%= sess.top_articles[i].ar_name%> </a>
                <%}%>
                <span class="badge badge-info"> <%= sess.top_chapter[i][0].chap_name%></span>
            </div>
        </li>
        <% } %>
        
    </ul>
</div>
<!-- END OF TOP -->